doctype
html(lang="fr", ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/globale.css')
    script(src="/node_modules/angular/angular.js")
    block head
  body(ng-controller)
    nav
        ul
            li
                a#accueil(href="/") Accueil
            li
                a#creationJoueur(href="/creationJoueur") Jeu
            li
                a#reglesJeu(href="/aide") Règles du jeu

    block content
    p 1 + 2 = {{ 1 + 2 }}

    footer
        p Les Grottes de Kalte - Lone Wolf
        p Utilisé pour LOG4420 par Konstantinos Lambrou-Latreille

