extends layout
block head
  script(type='text/javascript', src="javascript/controlleurs/test.js")

block content
  section(ng-app="appTest")
    div
      p Sur cette page on peut tester plus simplement angularJS
      p 1 + 2 = {{ 1 + 2 }}

    br

    div(ng-controller="controlleurTest")
      p Test appels web services :
      button(ng-click="getTest()") Click Ici Hardi !

      br
      p WebService joueur :
      br

      li(ng-repeat="discipline in joueur.disciplines")
        div Arme : {{discipline}}

      br
      p WebService combat :
      br
      p {{getVar}}
      br

      p Angular Basics :
      p {{leString}}
      p {{salutation.texte}}
