extends layout

block content
  section(ng-app="appTest")
    div
      p Sur cette page on peut tester plus simplement angularJS
      p 1 + 2 = {{ 1 + 2 }}

    br

    div(ng-controller="controlleurTest") Affichage :
      p {{leString}}
